header.navbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

header.navbar + div {
  padding-top: 50px;
  height: 100%;
}

div.centered {
  margin: 0 auto;
}

.menuButton {
  position: absolute;
}
